/* * {
  font-family: "Helvetica , sans-serif";
} */

section {
  scroll-margin-top: 100px;
  margin-bottom: 50px;
}

.logo {
  border: 1px solid #0d28a6;
  height: 34px;
  width: 100px;
  background-color: #0d28a6;
}

/* untuk button di hero section dan navbar */
.custom-hero {
  width: 140px;
  height: 36px;
  background-color: #5cb85f;
  border: #5cb85f;
  border-radius: 2px;
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.custom-hero:hover,
.button-navbar:hover {
  background-color: #5cb85f;
  opacity: 0.9;
}

.button-navbar {
  width: 81px;
  height: 36px;
  border-radius: 2px;
  background-color: #5cb85f;
  border: none;
  padding: 8px, 12px, 8px, 12px;
  color: #fff;
}

/* end button style */

.custom-font-size h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.custom-font-size p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.custom-footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media only screen and (max-width: 576px) {
  #offcanvasNavbar {
    width: 65%;
  }

  .service-font h2 {
    line-height: 36px;
    font-size: 24px;
    font-weight: bold;
  }

  .service-font p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
  }

  .custom-faq h1,
  .custom-faq p {
    text-align: center;
  }
}
